
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: calc(1400px - 150px - 150px - 40px);
  padding-left: 150px;
  padding-right: 150px;
}

.head {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  .head__logo {
    display: flex;
    gap: 16px;
  }

  .head__menu {
    ul {
      display: flex;
      gap: 24px;
      padding-left: 250px;
      padding-right: 50px;
      li {
        list-style: none;
      }
      a {
        text-decoration: none;
        display: flex;
        color: #6b6f71;
        font-size: 16px;
        font-weight: 600;
        line-height: 28px;
        :hover {
          color: black;
        }
      }
    }
  }
  .head__btn {
    display: flex;
    align-items: center;
    gap: 30px;
    .head__btn1 {
      width: 110px;
      height: 43px;
      flex-shrink: 0;
      border-radius: 4px;
      background: white;
      cursor: pointer;
    }
    .head__btn2 {
      width: 110px;
      height: 43px;
      flex-shrink: 0;
      border-radius: 4px;
      background: #02897a;
      cursor: pointer;
    }
  }
}

.parents {
  display: flex;
  align-items: center;
  .parents__contact {
    h1 {
      display: flex;
      padding-top: 200px;
      padding-bottom: 28px;
      width: 500px;
      flex-direction: column;
      flex-shrink: 0;
      color: #22343d;
      font-size: 55px;
      font-style: normal;
      font-weight: 700;
      line-height: 60px;
    }
    p {
      display: flex;
      width: 458px;
      height: 95px;
      flex-direction: column;
      flex-shrink: 0;
      color: #22343d;
      font-family: Poppins;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
    }
    button {
      width: 175px;
      height: 53px;
      cursor: pointer;
      flex-shrink: 0;
      border-radius: 4px;
      background: #02897a;
    }
    img {
      padding-left: 20px;
    }
    a {
      text-decoration: none;
      color: black;
    }
  }
  .parents__tele {
    padding-top: 30px;
  }
}

#nav {
  padding-top: 120px;
}
.father {
  .father__title {
    h1 {
      text-align: center;
      font-size: 32px;
      padding-left: 350px;
    }
  }
  .father__icons {
    padding-top: 66px;
    h3 {
      color: #22343d;
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    p {
      display: flex;
      width: 200px;
      flex-direction: column;
      flex-shrink: 0;
      color: #22343d;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
    }
  }
  .father__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 90px;
  }
  .up {
    padding-top: 60px;
    text-align: center;
    padding-left: 350px;
    button {
      width: 175px;
      height: 53px;
      cursor: pointer;
      flex-shrink: 0;
      border-radius: 4px;
      background: #02897a;
    }
  }
}

.work {
  display: flex;
  padding-top: 260px;
  .work__text {
    h4 {
      color: #22343d;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    h1 {
      color: #22343d;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding-top: 8px;
      padding-bottom: 25px;
    }
    p {
      display: flex;
      padding-top: 8px;
      padding-bottom: 25px;
      width: 486px;
      color: #22343d;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
    }
  }
  .work__doc {
    padding-left: 100px;
  }
}

.searches {
  display: flex;
  .searches__cust {
    gap: 30px;
    padding-left: 150px;

    h4 {
      color: #22343d;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    h1 {
      color: #22343d;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding-top: 8px;
      padding-bottom: 25px;
    }
    p {
      display: flex;
      padding-top: 8px;
      padding-bottom: 25px;
      width: 486px;
      color: #22343d;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
    }
  }
  .searches__tick {
    display: flex;
    gap: 30px;
    padding-bottom: 47px;
    h5 {
      flex-shrink: 0;
      color: #22343d;
      font-size: 16px;
      font-weight: 400;
    }
  }
}

.picture {
  display: flex;
  .picture__word {
    h4 {
      color: #22343d;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    h1 {
      color: #22343d;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding-top: 8px;
      padding-bottom: 25px;
    }
    p {
      display: flex;
      padding-top: 8px;
      padding-bottom: 25px;
      width: 486px;
      color: #22343d;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
    }
  }
  .picture__img {
    padding-left: 150px;
  }
}

.contact {
  padding-top: 200px;
  .contact__per h1 {
    color: #22343d;
    font-size: 32px;
    font-weight: 700;
  }

  p {
    width: 900px;
    color: #22343d;
    font-size: 16px;
    font-style: normal;
    line-height: 26px;
  }
  .contact__pic {
    width: 348px;
    height: 359px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #f8f5f8;
    h1 {
      padding-left: 25px;
    }
    p {
      padding-left: 25px;
      span {
        font-weight: bold;
      }
    }
  }
  .contact__father {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}
.item {
  padding: 30px 42.69px 30px 34.32px;
  border-radius: 22px;
  background: #f6f6f6;
  text-align: center;
  display: grid;
  grid-template-columns: 40% 60%;
}

.owl-carousel .owl-dots .owl-dot span {
  width: 30px;
  transition: all 0.2s ease;
}

.owl-carousel .owl-dots .owl-dot.active span {
  width: 50px;
  background: #3858d6;
}

.owl-carousel .owl-dots .owl-dot:hover span {
  background: #3858d6;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  top: 90px;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 30px;
  background-color: #3858d6;
  color: white;
}

.owl-carousel .owl-nav button.owl-prev {
  left: -25px;
}

.owl-carousel .owl-nav button.owl-next {
  right: -25px;
}

.price {
  .price__word {
    padding-top: 150px;
    padding-bottom: 50px;
    h1 {
      text-align: center;
      font-size: 32px;
      padding-left: 350px;
    }
    p {
      text-align: center;
      font-size: 24px;
      padding-left: 350px;
    }
  }
  .price__free {
    align-items: center;
    text-align: center;
    width: 300px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
    h1 {
      color: #22343d;
      font-family: Poppins;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 40px;
    }
    p {
      color: #22343d;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 40px;
    }
    button {
      padding-bottom: 3px;
      display: inline-flex;
      padding: 11px 19px 11px 18px;
      justify-content: center;
      align-items: center;
      border: 1px solid #02897a;
      border-radius: 8px;
      background: #02897a;
      color: white;
    }
  }
  .price__father {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 71px;
  }
}

.star {
  .star__per {
    padding-top: 150px;
    padding-bottom: 50px;
    h1 {
      text-align: center;
      font-size: 32px;
      padding-left: 300px;
    }
    p {
      color: #22343d;
      text-align: center;
      padding-left: 300px;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 28px;
      letter-spacing: 0.2px;
    }
  }
  .star__first {
    width: 300px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #dedede;
    background: var(--light-background, #fff);
  }
  img {
    padding: 20px 20px;
  }
  p {
    padding: 0 20px;
    color: #737373;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.2px;
  }
  .star__father {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 64px;
    padding-bottom: 150px;
  }
  .star__second {
    display: flex;
    align-items: center;
    h2 {
    }
  }
}

.join {
  width: 1050px;
  height: 345px;
  flex-shrink: 0;
  border-radius: 32px;
  background: #02897a;
  .join__word {
    display: flex;
    padding-top: 30px;
    h1 {
      display: flex;
      padding-right: 30px;
      width: 510px;
      color: #fff;
      font-size: 32px;

      img {
        width: 100%;
        padding-right: 30px;
      }
    }
  }
  .join__img {
    padding-top: 230px;
    padding-left: 30px;
    button {

      padding: 7px 20px 7px 20px;
      border-radius: 8px;
      border: 1px solid white;
      background: #fff;
    }
  }
}

